/* 取消滚动条 */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  position: relative;
  background-image: url("images/img0.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  width: 1000px;
  height: 820px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: 0.5s ease 0s;
}
.box:hover {
  transform: scale(1.02);
}
.ind {
  height: 700px;
  width: 1000px;
  background-color: rgba(59, 59, 59, 0.342);
  border-radius: 30px;
  box-shadow: 0px 14px 80px rgb(0, 0, 0);
  overflow-x: no-display;
}
/* .bb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
.bb {
  height: 100vh;
  margin-top: 100px;
  margin-left: 449px;
}
.home {
  color: rgba(255, 255, 255, 0.342);
  margin-top: -72.5px;
  margin-left: -369px;
  position: absolute;
  background-size: cover;
  transition: 0.5s ease 0s;
}
.home:hover {
  color: rgba(85, 85, 85, 0.712);
  transform: scale(1.05);
}
.a-24gf-mailboxFull {
  color: rgba(255, 255, 255, 0.342);
  margin-top: 27.5px;
  margin-left: -369px;

  position: absolute;
  background-size: cover;
  transition: 0.5s ease 0s;
}
.a-24gf-mailboxFull:hover {
  color: rgba(85, 85, 85, 0.712);
  transform: scale(1.05);
}
.gerenzhongxin {
  color: rgba(255, 255, 255, 0.342);
  margin-top: -21.5px;
  margin-left: -369px;
  position: absolute;
  background-size: cover;
  transition: 0.5s ease 0s;
}
.gerenzhongxin:hover {
  color: rgba(85, 85, 85, 0.712);
  transform: scale(1.05);
}
.zil {
  font-family: Cambria, Georgia, serif;
}
.R {
  color: #555555;
}
.v {
  color: rgba(61, 61, 61, 0.466);
}
.icon-home {
  color: rgba(255, 255, 255, 0.651);
  margin-top: -77.5px;
  margin-left: -419px;
  position: absolute;
  background-size: cover;
  transition: 0.5s ease 0s;
}
.icon-home:hover {
  color: rgba(85, 85, 85, 0.712);
  transform: scale(1.15);
}
.icon-a-24gf-mailboxFull {
  color: rgba(255, 255, 255, 0.651);
  margin-top: 25.5px;
  margin-left: -416px;

  position: absolute;
  background-size: cover;
  transition: 0.5s ease 0s;
}
.icon-a-24gf-mailboxFull:hover {
  color: rgba(85, 85, 85, 0.712);
  transform: scale(1.15);
}
.icon-gerenzhongxin {
  color: rgba(255, 255, 255, 0.651);
  margin-top: -27.5px;
  margin-left: -420px;
  position: absolute;
  background-size: cover;
  transition: 0.5s ease 0s;
}
.icon-gerenzhongxin:hover {
  color: rgba(85, 85, 85, 0.712);
  transform: scale(1.15);
}
.shadou {
  /* box-shadow: 0 35px 80px hsl(0, 0%, 0%); */
}
a {
  text-decoration: none;
}
.beiann {
  background-color: #ffffff9c;
  width: 270px;
  height: 24px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #555555;
  margin-left: 800px;
  position: absolute;
  text-align: center;
  box-shadow: 0 35px 80px rgb(0, 0, 0);
}
.beiannn {
  background-color: #ffffff71;
  width: 350px;
  margin-bottom: -24px;
  height: 24px;
  border-radius: 10px;
  color: #555555;
  margin-left: 70px;
  position: absolute;
  text-align: center;
  box-shadow: 0 35px 80px rgb(0, 0, 0);
}
.wenzih1 {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.651);
  margin-top: 30px;
  transition: 0.5s ease 0s;
}
.wenzih1:hover {
  color: rgba(85, 85, 85, 0.712);
  transform: scale(1.15);
}

.zil {
  font-family: Cambria, Georgia, serif;
}
.img {
  width: 88px;
  height: 88px;
  border: 4px #ffffff88 solid;
  border-radius: 1000px;
  margin-top: 80px;
  margin-left: 450px;
  transition: 0.5s ease 0s;
}
.img:hover {
  transform: scale(1.15);
}
@media only screen and (max-width: 860px) {
  .img {
    margin-top: 157px;
  }
  .wenzih1 {
    margin-top: 0;
  }
  .beiann {
    opacity: 0;
  }
  .beiannn {
    opacity: 0;
  }
}
.on {
  z-index: 5;
}
